html{
    font-size: 62.5%

}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

header{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;

}

#logo{
    background-image: url("static/logo.png");
    width: 6rem;
    height: 6rem;
    background-size: cover; 
    margin-left: 2rem;

}

nav{
    width: 50%;


}

#ul_header{
    list-style-type:none;
    display: flex;
    gap: 2rem;
    width: 50%;
    margin-left: 6rem;

}

.li_header a{
    font-size: 2em;
    font-weight:lighter;
    text-decoration: none;
}

/* estilo del texto al pasar el puntero, efectos */
.li_header:hover{
    color: blue;
    font-size: 2em;
    font-weight:lighter;
    text-decoration: none;

}

.stripes{
    background-image: repeating-linear-gradient(
        -40deg,
        #C8AFE9 0px,
        #C8AFE9 20px,
        #ffcfe5 20px,
        #ffcfe5 40px);
}