{% extends "base.html" %}
{% block contenido %}
<head>
    <title>{% block tittles %} Artistas Favoritos{% endblock %}</title>
</head>
<body>
    <main>
<!-- Artistas -->
        <section>
            <h2 class="my-style">Artistas</h2>
                <div class="grid">
                    <figure><img src="/static/ana_blosset.png" alt="Ana Blosset"><figcaption>Ana Blosset</figcaption></figure>
                    <figure><img src="/static/allie_sherlock.png" alt="Allie Sherlock"><figcaption>Allie Sherlock</figcaption></figure>
                    <figure><img src="/static/dpr_ian.jpg" alt="DPR IAN"><figcaption>DPR IAN</figcaption></figure>
                    <figure><img src="/static/harry_styles.jpg" alt="Harry Styles"><figcaption>Harry Styles</figcaption></figure>
                    <figure><img src="/static/lady_gaga.jpg" alt="Lady Gaga"><figcaption>Lady Gaga</figcaption></figure>
                    <figure><img src="/static/lasso.jpg" alt="Lasso"><figcaption>Lasso</figcaption></figure>
                    <figure><img src="/static/marc_segui.jpg" alt="Marc Segui"><figcaption>Marc Segui</figcaption></figure>
                    <figure><img src="/static/miloj.jpg" alt="Milo J"><figcaption>Milo J</figcaption></figure>
                    <figure><img src="/static/natalia_lafourcade.png" alt="Natalia Lafourcade"><figcaption>Natalia Lafourcade</figcaption></figure>
                    <figure><img src="/static/sigrid.jpg" alt="Sigrid"><figcaption>Sigrid</figcaption></figure>
                </div>
        </section>
<!-- Bandas -->
        <section>
            <h2 class="my-style">Bandas</h2>
            <div class="grid">
                <figure><img src="/static/artic_monkeys.jpg" alt="Artic Monkeys"><figcaption>Artic Monkeys</figcaption></figure>
                <figure><img src="/static/black_pumas.png" alt="Black Pumas"><figcaption>Black Pumas</figcaption></figure>
                <figure><img src="/static/death_cab_for_cutie.webp" alt="Death Cab For Cutie"><figcaption>Death Cab For Cutie</figcaption></figure>
                <figure><img src="/static/jungle.jpeg" alt="Jungle"><figcaption>Jungle</figcaption></figure>
                <figure><img src="/static/lagos.jpeg" alt="Lagos"><figcaption>Lagos</figcaption></figure>
                <figure><img src="/static/lagum.jpg" alt="Lagum"><figcaption>Lagum</figcaption></figure>
                <figure><img src="/static/los_mesoneros.jpg" alt="Los Mesoneros|"><figcaption>Los Mesoneros</figcaption></figure>
                <figure><img src="/static/paramore.JPG" alt="Paramore"><figcaption>Paramore</figcaption></figure>
                <figure><img src="/static/portugal_the_man.jpg" alt="Portugal The Man"><figcaption>Portugal The Man</figcaption></figure>
                <figure><img src="/static/the_driver_era.jpg" alt="The Driver Era"><figcaption>The Driver Era</figcaption></figure>
            </div>
        </section>
    </main>
</body>
{% endblock %}
