{% extends "base.html" %}
{% block contenido %}
<head>
    <title>{% block tittles %} Canciones {% endblock %}</title>
</head>
<body>
    <main>
        <section>
            <h2 class="my-style">Canciones</h2>
            <div style="background-color: transparent">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1UDToCUvhfhYrTFxA1Xi4w?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2cVJwPD5CaTx2kBZyomzGN?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4rf0IVQDFjr27T4sgah5Pf?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1Eds6jfQdJjHyzaNfwUjCb?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7eODmTZh5wkd032bW1xK4l?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/44OMHFwcPqvF3tah5TT2ft?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3ySU5vwQB33iGulwcUL9qQ?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6BfpjrOHrbe7K1z9uDI2yG?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/60dwJ8dnqZ4WrIdiu7LkNR?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3vpmu7wo2Acq96y0bdFhXH?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </section>
    </main>
</body>
{%endblock%}
