<!DOCTYPE html>
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <h1 id="titulo">Blog de lichi</h1>
    </header>
    <div>
        <p>soy un parrafo dentro de un div</p>
    </div>
    <section>
        <article class="post">
            <h2>Título de mi post</h2>
            <p>Descripción de mi post</p>
            <img src="/static/artinmycoffee.png" width="400">
            <p>Texto del articulo que hay aca y es texto de prueba. Lichi feliz</p>
        </article>
        <article class="post">
            <h2>Título de mi post 2</h2>
            <p>Descripción de mi post 2</p>
            <img src="/static/coffee-pixels.png" width="400">
            <p>Texto del articulo que hay aca y es texto de prueba. Lichi feliz</p>
        </article>
        <article class="post">
            <h2>Título de mi post 3</h2>
            <p>Descripción de mi post 3</p>
            <img src="/static/jjj.jpg" width="400">
            <p>Texto del articulo que hay aca y es texto de prueba. Lichi feliz</p>
        </article>
    </section>
    <footer>
        <a href="#titulo">Ir al comienzo</a>
        <a href="mailto:lizferreirapy@gmail.com">Contáctame aquí</a>
        <p>Copyright 2023</p>
    </footer>
</body>
</html>