@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat&family=Roboto&family=Teko:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #772F1A;
    color: white;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {

    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: white;
}

.github {
    color: #fff2e7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background: #181012;
}

.hero {

    max-width: 1120px;
    height: 60vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;

}

.destacado {
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.marron {
    color: #a45a49;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #a45a49;

}

.hero-subtitulo {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-contenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-imagenes-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

}

.hero-imagenes-container> figure >img {
    width: 100%;
    border-radius: 0.5rem;

}

.boton-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #a45a49;
}

.recetas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

receta-encabezado {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recetas-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

.recetas-subtitulo {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}