<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Estudiantes</title>
</head>
<body>
    
<div class="container mx-auto mt-10">
    <h1 class="text-3xl text-center font-bold mb-6">Agregar estudiantes</h1>
    <form class="mb-6">
        <div class="flex mb-4 gap-2">
            <input type="text" class="flex-1 rounded p-4" placeholder="Nombre">
            <input type="text" class="flex-1 rounded p-4" placeholder="Apellido">
            <input type="number" class="flex-1 rounded p-4" placeholder="Edad">
            <input type="text" class="flex-1 rounded p-4" placeholder="Colegio">
        
        </div>
        <button type="submit" class="bg-black hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded">
            Agregar Estudiante
        </button>
    </form>
    <div>
        <div class="bg-white rounded-lg p-4 flex justify-between items-center mb-2">
            <span class="font-bold">Mauricio</span>
            <span class="text-gray-600">Arana</span>
            <span class="text-gray-600">17 años</span>
            <span class="text-gray-600">Colegio del sol</span>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Eliminar
            </button>
        </div>
        <div class="bg-white rounded-lg p-4 flex justify-between items-center mb-2">
            <span class="font-bold">Lujan</span>
            <span class="text-gray-600">Aranda</span>
            <span class="text-gray-600">15 años</span>
            <span class="text-gray-600">Colegio Juan Pablo II</span>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Eliminar
            </button>
        </div>
        <div class="bg-white rounded-lg p-4 flex justify-between items-center mb-2">
            <span class="font-bold">Cristhian</span>
            <span class="text-gray-600">Mallorquin</span>
            <span class="text-gray-600">16 años</span>
            <span class="text-gray-600">Colegio ni idea</span>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Eliminar
            </button>
        </div>
    </div>
</div>

</body>
</html>